body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.time {
  width:25px;
  height:25px;
  border:thin solid black;
  background-color: white;
}

.open {
  width:25px;
  height:25px;
  border:thin solid black;
  background-color: green;
}
